@font-face {
    font-family: 'abraham_lincolnregular';
    src: url('../fonts/abrahamlincoln-webfont.eot');
    src: url('../fonts/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abrahamlincoln-webfont.woff') format('woff'),
         url('../fonts/abrahamlincoln-webfont.ttf') format('truetype'),
         url('../fonts/abrahamlincoln-webfont.svg#abraham_lincolnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quaver_sansregular';
    src: url('../fonts/quaversans-webfont.eot');
    src: url('../fonts/quaversans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quaversans-webfont.woff') format('woff'),
         url('../fonts/quaversans-webfont.ttf') format('truetype'),
         url('../fonts/quaversans-webfont.svg#quaver_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$headerfont: 'abraham_lincolnregular', 'Palatino Linotype', serif;
$bodyfont: 'quaver_sansregular', sans-serif;
$sepia: #fdebe0;
$big-title: 130px;

body {
  font-family: $bodyfont;  
  height: 100%;
  background: $sepia;
}

blockquote {
  border: none;
}

.row {
  max-width: 72.5em;  
}

.backdrop {
   background: url('../img/background-title.jpg') bottom center no-repeat;
  background-size: cover;
    position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#titleImg > h1 {
font-size: 1.5em;
}

.relative {
  position: relative;
}

.float-right {
  float: right;
}

/* NAV */

#navwrapper {
  height: 100%;
  position: relative;
  min-height: 750px;
}

nav {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 90px;
  z-index: 10;
  font-family: $headerfont;
  bottom: -20px;

  &.sticky {
    position: fixed;
    top: 0px;
  }
}

#nav {
  padding: 0px 0px 0px 50px;
  margin: 0px;
  text-align: center;
  list-style: outside none;
  background: #000;

  > li {
    display: inline-block;
    padding: 10px 40px;
    font-size: 32px;

    > a {
      color: $sepia;
      text-decoration: none;
      transition: color 300ms ease;

      &:hover {
        color: white;
      }
    }
  }
}
#navbarDecor {
  width: 100%;
}

/* Structure */

.contentBlock {
  float: left;
  width: 100%;  
  position: relative;
}

#titleBlock {
  background: url('../img/background-title.jpg') bottom center no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 750px;
  max-width: 100%;
  margin-bottom: 50px;
}


/* Reuse */
.lead-quote {
  color: #000;
  text-align: center;
  font-size: 60px;
  font-family: $headerfont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerfont;
  font-size: 4rem;  
}

h1, h2, h3 {
  text-transform: uppercase;
}

p {
  font-size: 20px;
}

.marginBottom {
  margin-bottom: 100px;
}
.marginBottom-small {
  margin-bottom: 50px;
}

.hr {
  background: url('../img/hr.png') center center no-repeat transparent;
  height: 150px;  
}

.centered {
  text-align: center;
}

/* Specific */

#titleImg {
  position: absolute;
  top: 8%;
  left: 50%;
  width: 400px;
  height: 470px;
  margin-left: -200px;

  background: url('../img/title-img.png') top center no-repeat transparent;

  text-align: center;
}

#titleImg > h1 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center; 
}

/* the couple */

#thecouple-headerImg {
  margin-bottom: 50px;
}

#photoGallery {
  height: 500px;
}
/* the proposal */

#theProposal {
  padding-top: 50px;
  background: url('../img/background-proposal.jpg') top center no-repeat transparent;
  background-size: cover;
  padding-bottom: 70px;
}

#proposal-photo {
  margin: 0px 0px 30px 30px;
}

/* Ceremony & Reception */

#ceremonyTitle {
  text-align: center;
  font-size: $big-title;
  background: url('../img/title-frame-light.png') center center no-repeat transparent;
  height: 235px;
  line-height: 235px;
}
#ceremonyDate {
  padding-top: 110px;
}
#ceremonyLocation {
  background: url('../img/filigree-side-frame.png') center center no-repeat transparent;
  padding: 0px 110px;
  margin-bottom: 50px;
}
#ceremonyAddress {
  padding-top: 30px;

  > p {
    font-family: $headerfont;
    font-size: 24px;
    margin-bottom: 0px;
  }
}

/* wedding party */

h1#weddingParty {
  font-size: $big-title;
  > img {
    margin-bottom: 20px;
  }
}

#weddingParty-cols {
  height: 850px;
}

#weddingParty-centerline {
  position: absolute;
  width: 10px;
  left: 50%;
  margin-left: -5px;
  top: 5px;
}
.weddingParty-member {
  width: 532px;
  height: 330px;
  overflow: hidden;
  background: {
    image: url('../img/weddingparty-back.png');
    repeat: no-repeat;
    color: transparent;
  }
  position: relative;

  > .weddingParty-photo {
    width: 200px;
    height: 200px;
    background: {
      image: url('../img/weddingparty-spritesheet.jpg');
      repeat: no-repeat;
      color: black;
    };

    $wp-top: 0px;
    @each $member in breezy, faye, rachel, mackenzie, brittany, nicole {    
      &##{$member} {
        background-position: 0px $wp-top;
      }
      $wp-top: $wp-top - 200;
    }
    $wp-top: 0px;
    @each $member in jonathan, rylan, brett, dan, garrett, ryan {    
      &##{$member} {
        background-position: -200px $wp-top;
      }
      $wp-top: $wp-top - 200;
    }    
  }
  > h3 {
    font-size: 38px;
  }

  &.left {
    background-position: top right;
    > .weddingParty-photo {
      float: left;
      margin: 8px 20px 10px 8px;
    }
  }
  &.right {
    background-position: top left;
    > .weddingParty-photo {
      float: right;
      margin: 8px 8px 10px 20px;
    }
  }
}
