@font-face {
  font-family: 'abraham_lincolnregular';
  src: url("../fonts/abrahamlincoln-webfont.eot");
  src: url("../fonts/abrahamlincoln-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/abrahamlincoln-webfont.woff") format("woff"), url("../fonts/abrahamlincoln-webfont.ttf") format("truetype"), url("../fonts/abrahamlincoln-webfont.svg#abraham_lincolnregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'quaver_sansregular';
  src: url("../fonts/quaversans-webfont.eot");
  src: url("../fonts/quaversans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quaversans-webfont.woff") format("woff"), url("../fonts/quaversans-webfont.ttf") format("truetype"), url("../fonts/quaversans-webfont.svg#quaver_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "quaver_sansregular", sans-serif;
  height: 100%;
  background: #fdebe0; }

blockquote {
  border: none; }

.row {
  max-width: 72.5em; }

.backdrop {
  background: url("../img/background-title.jpg") bottom center no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

#titleImg > h1 {
  font-size: 1.5em; }

.relative {
  position: relative; }

.float-right {
  float: right; }

/* NAV */
#navwrapper {
  height: 100%;
  position: relative;
  min-height: 750px; }

nav {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 90px;
  z-index: 10;
  font-family: "abraham_lincolnregular", "Palatino Linotype", serif;
  bottom: -20px; }
  nav.sticky {
    position: fixed;
    top: 0px; }

#nav {
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style: outside none;
  background: #000; }
  #nav > li {
    display: inline-block;
    padding: 10px 40px;
    font-size: 32px; }
    #nav > li > a {
      color: #fdebe0;
      text-decoration: none;
      transition: color 300ms ease; }
      #nav > li > a:hover {
        color: white; }

#navbarDecor {
  width: 100%; }

/* Structure */
.contentBlock {
  float: left;
  width: 100%;
  position: relative; }

#titleBlock {
  background: url("../img/background-title.jpg") bottom center no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 750px;
  max-width: 100%;
  margin-bottom: 50px; }

/* Reuse */
.lead-quote {
  color: #000;
  text-align: center;
  font-size: 60px;
  font-family: "abraham_lincolnregular", "Palatino Linotype", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "abraham_lincolnregular", "Palatino Linotype", serif;
  font-size: 4rem; }

h1, h2, h3 {
  text-transform: uppercase; }

p {
  font-size: 20px; }

.marginBottom {
  margin-bottom: 100px; }

.marginBottom-small {
  margin-bottom: 50px; }

.hr {
  background: url("../img/hr.png") center center no-repeat transparent;
  height: 150px; }

.centered {
  text-align: center; }

/* Specific */
#titleImg {
  position: absolute;
  top: 8%;
  left: 50%;
  width: 400px;
  height: 470px;
  margin-left: -200px;
  background: url("../img/title-img.png") top center no-repeat transparent;
  text-align: center; }

#titleImg > h1 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center; }

/* the couple */
#thecouple-headerImg {
  margin-bottom: 50px; }

#photoGallery {
  height: 500px; }

/* the proposal */
#theProposal {
  padding-top: 50px;
  background: url("../img/background-proposal.jpg") top center no-repeat transparent;
  background-size: cover; }

#proposal-photo {
  margin: 0px 0px 30px 30px; }

/* Ceremony & Reception */
#ceremonyTitle {
  text-align: center;
  font-size: 130px;
  background: url("../img/title-frame-light.png") center center no-repeat transparent;
  height: 235px;
  line-height: 235px; }

#ceremonyDate {
  padding-top: 110px; }

#ceremonyLocation {
  background: url("../img/filigree-side-frame.png") center center no-repeat transparent;
  padding: 0px 110px;
  margin-bottom: 50px; }

#ceremonyAddress {
  padding-top: 30px; }
  #ceremonyAddress > p {
    font-family: "abraham_lincolnregular", "Palatino Linotype", serif;
    font-size: 24px;
    margin-bottom: 0px; }

/* wedding party */
h1#weddingParty {
  font-size: 130px; }
  h1#weddingParty > img {
    margin-bottom: 20px; }

#weddingParty-cols {
  height: 850px; }

#weddingParty-centerline {
  position: absolute;
  width: 10px;
  left: 50%;
  margin-left: -5px;
  top: 5px; }

.weddingParty-member {
  width: 532px;
  height: 330px;
  overflow: hidden;
  background-image: url("../img/weddingparty-back.png");
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative; }
  .weddingParty-member > .weddingParty-photo {
    width: 200px;
    height: 200px;
    background-image: url("../img/weddingparty-spritesheet.jpg");
    background-repeat: no-repeat;
    background-color: black; }
    .weddingParty-member > .weddingParty-photo#breezy {
      background-position: 0px 0px; }
    .weddingParty-member > .weddingParty-photo#faye {
      background-position: 0px -200px; }
    .weddingParty-member > .weddingParty-photo#rachel {
      background-position: 0px -400px; }
    .weddingParty-member > .weddingParty-photo#mackenzie {
      background-position: 0px -600px; }
    .weddingParty-member > .weddingParty-photo#brittany {
      background-position: 0px -800px; }
    .weddingParty-member > .weddingParty-photo#nicole {
      background-position: 0px -1000px; }
    .weddingParty-member > .weddingParty-photo#jonathan {
      background-position: -200px 0px; }
    .weddingParty-member > .weddingParty-photo#rylan {
      background-position: -200px -200px; }
    .weddingParty-member > .weddingParty-photo#brett {
      background-position: -200px -400px; }
    .weddingParty-member > .weddingParty-photo#dan {
      background-position: -200px -600px; }
    .weddingParty-member > .weddingParty-photo#garrett {
      background-position: -200px -800px; }
    .weddingParty-member > .weddingParty-photo#ryan {
      background-position: -200px -1000px; }
  .weddingParty-member > h3 {
    font-size: 38px; }
  .weddingParty-member.left {
    background-position: top right; }
    .weddingParty-member.left > .weddingParty-photo {
      float: left;
      margin: 8px 20px 10px 8px; }
  .weddingParty-member.right {
    background-position: top left; }
    .weddingParty-member.right > .weddingParty-photo {
      float: right;
      margin: 8px 8px 10px 20px; }
